@font-face {
        font-family: 'Gotham Narrow';
        src: url('../font/GothamNarrow-Black.otf');
}

@font-face {
        font-family: 'Gotham Narrow Thin';
        src: url('../font/GothamNarrow-Thin.otf');
}

svg{
        fill: rgb(60 82 209);
        margin-left: 10px;

}

svg:hover{
        fill: white;
        margin-left: 10px;
        transition: all 300ms;

}

img{
        background: white;
}

body{
        background-color: rgb(243, 235, 235);
}

*{
        font-family: 'Gotham Narrow';
        margin: 0px auto;
        padding: 0px;
}

.container{
        width: 85%;
        height: auto;
        margin: 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
}

#nav{
        width: 100%;
        height: 190px;
        background-color: #232840;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.15); 
        box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.15);

}



#nav .photo{
        width: 100%;
}

#nav .title{
        margin-top: 20px;
        width: 90%;
        height: 190px;
        text-align: center;
        color:rgb(245, 241, 241);

}


.img-title{
        width: 100px;
        border-radius: 50px;

}

#nav .social{
        width: 5%;
        height: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-left: 4px dashed rgb(246, 73, 167);
        
}

#aside{
        margin-top: 20px;
        width: 20%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

#aside h2{
        color:rgb(60 82 209);
        text-align: center;
        border-left: 3px dashed rgb(246, 73, 167);
        border-right: 3px dashed rgb(246, 73, 167);
        width: 80%;
        height: 30px;

}


#aside a{
        text-decoration: none;
        margin: 0px auto;
        width: 80%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#232840;
        background-color: rgb(245, 241, 241);
        -webkit-box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.15); 
        box-shadow: 4px 9px 15px -1px rgba(0,0,0,0.15);
}

#aside a:hover{
        color: white;
        background-color:rgb(163, 202, 205);
        transition: all 400ms;
}

#projects{
        width: 73%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        
}

.project{
        width: 250px;
        height: 200px;
        margin: 10px;
        flex-grow: 0.1;
        border: 1px solid #ccc;
        border-radius: 7px;
        background-color: rgb(245, 241, 241);
        color:#232840;
}


.project img{
        border-top-left-radius:7px;
        border-top-right-radius:7px;
        width: 100%;
        height: 70%;

}

iframe{
        border-top-left-radius:7px;
        border-top-right-radius:7px;
        width: 100%;
        height: 70%;
}

.project h4{
        font-family: 'Gotham Narrow Thin';
        color: black;

}

.project h3, h4{
        margin: 0px;
        margin-left: 10px;
        height: 30%;
}

.project h3 a{
        text-decoration: none;
        color:#232840;
}

.project h3 a:hover{
        color:rgb(60 82 209);
        transition: all 400ms;
}


@media (max-width: 999px){
        .container{
                width: 100%;
        }
}

@media (max-width: 745px){

        #nav{
                height: 130px;
                margin-bottom: 0px;
        }

        #nav .title{
                width: 100%;
                height: 50px;
        }

        .title img{
                display: none;
        }

        #nav .social{
                margin-top: 0px;
                width: 40%;
                height: 50px;
                border-left: none;
        }

        #aside{
                width: 100%;
                height: 200px;
                margin-top: 0px;
                margin-bottom: 20px;
        }

        #aside h2{
                display: none;
        }

        #aside a{
                width: 100%;
                border-bottom: 1px solid #ccc;
        }

        #projects{
                margin-top: 100px;
                width: 100%;
        }

        .project{
                width: 100%;
        }
}